<%= form_for(publication) do |f| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :publication_type_id %>
    <%= f.text_field :publication_type_id %>
  </div>

  <div class="field">
    <%= f.label :publisher_id %>
    <%= f.number_field :publisher_id %>
  </div>

  <div class="field">
    <%= f.label :publisher_type %>
    <%= f.text_field :publisher_type %>
  </div>

  <div class="field">
    <%= f.label :single_issue %>
    <%= f.check_box :single_issue %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
